
*{
    padding:0;
    margin:0;
}#coming soon{
    color:rgb(228, 176, 107);
}
body{
    background-color:#92bcea;
}
h3{
    font-family:comic sans ms;
}
h4{
    font-family:comic sans ms;
}

#searchbutton{
    background-color:#CDACA1;
}
#search{
    color:#CDACA1;
}
#goodsleep{
    text-decoration:none;
}
#h4exclusicve{
    font-family:arial;
    background-color:#CDD6DD;
    
}
#button{
    height:9;
    width:23;
}

button{
    background-color:rgb(204, 241, 216);
    margin-right:120px
}
#g4{
    text-decoration:none;

}
#g7{
    text-decoration:none;
margin-right:20px;
    color:white;
    margin: top 200px;
}


#navli{
    padding: 8px;
    margin:200px
}


  

#logo{
    color:rgb(243, 27, 27);
    text-decoration:none;
    margin-right:40px;
    font-family:comic sans ms;;
}
.search-container {
    display: flex;
    justify-content: center;
    margin-top:auto;
    margin-right:auto;
}

.search-box {
    width: 300px;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-button {
    padding: 5px 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
}

.search-button:hover {
    background-color: #45a049;
}

.results {
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.results ul {
    list-style-type: none;
    padding: 0;
}

.results li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.g{
    margin-left: none;
}