
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }
#coming soon{
    color:rgb(228, 176, 107);
}
#book1{
  background-color:#ac3b61;
}
#book2{
  background-color: #bab2b5;
}
#nppg{
  color:#d36c38;
  font-family: comic sans ;
}
#np{
  color:blue;
}
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color:white;
  background:url(background-image-r.png);
  background-position:top;
  background-size :cover;

}
a{
    color:beige;
}
.fav{
    font-family:'arial',sans-serif;
    font-weight: bold;
    color:rgb(255, 0, 0);
    font-size :2rem;
    right: 5px;
    left: 5px;
}
.libro{
    font-weight: bold;
    font-family: 'arial',sans-serif;
    color:rgb(7, 7, 7);
    font-size: 2rem;
    right: 5px;
}

#searchbutton{
    background-color:#CDACA1;
}
#search{
    color:#CDACA1;
}
#link{
  text-decoration: none;
  color: #0e3f57;
}
#h4exclusicve{
    font-family:arial;
    background-color:#CDD6DD;
    
}
#button{
    height:9;
    width:23;
}

button{
    background-color:rgb(204, 241, 216);
    margin-right:120px
}
#g4{  text-decoration:none;

}

#g7{
    text-decoration:none;
margin-right:20px;
    color:white;
    margin: top 200px;
}



#navli{
    padding: 8px;
    margin:200px
}
#logo{
    color:rgb(206, 48, 48);
    text-decoration:none;
    margin-right:40px;
    font-family:comic sans ms;
}
.results {
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#linksd{
  color: #3d1892;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.results ul {
    list-style-type: none;
    padding: 0;
}

.results li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.g{
    margin-left: none;
}
.sidebar {
    position:fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background:rgb(255, 255, 255);
    transition: all .5s ease;
    border: 1.75px solid #d4c7c7;
  }
  .sidebar header {
    font-size: 35px;
    color: rgb(149, 124, 124);
    line-height: 70px;
    text-align: center;
    background: #ffffff;
    user-select: none;
    border: 3.5px solid #dba2a1;
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: rgb(187, 181, 181);
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(220, 164, 164);
    border-top: 3px solid rgba(200, 26, 26, 0.1);
    transition: .3s;
  }
  ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    background:transparent;
    border-radius: 2px;
    cursor: pointer; 
  
  }
  label #btn{
    right:5px ;
    top:5px;
    font-size: 35px;
    color: #dba2a1;
    padding: 10px 12px;
    transition: all .5s;
  }
  label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #dba2a1;
    padding: 4px 9px;
    transition: all .5s ease;
    margin-right: auto;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel{
    left: 195px;
  }
  #check:checked ~ section{
    margin-left: 250px;
  }
  #btn{
    margin-left:80px;
  }
  #linkg{
 color: rgb(36, 165, 234);
  }
  #gshort{
    font-family:lora;
  }
.menu, .settings {
    cursor: pointer;
}
.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.book {
    width: 45%;
    margin-bottom:3px;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}
section{
  margin: 0px; 
}
#footer {
  background:url(footer-fav-libro.jpg);
  background-size :cover;
  background-position:top,center;
}